body{
    background-color: whitesmoke;
}
.content{
    width: 700PX;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0 auto;
    justify-content: space-around;
}
.flex-items{
    width: 300px;
    font-weight: 300px;
}
h1 {
    color: blue;
}
.flex-items2{
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
input {
    height: 40px;
    width: 450px;
    margin: 10px;

}
a {
    text-align: center;
}
hr{
    border: 1 solid  black;
    width: 450px;
}
.button1 {
    height: 40px;
    width: 450px;
    background-color: blue;
    height:40px;
    text-align: center;
}
.button2 {
    width: ;
}